[project]
name = "alg-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "sortedcontainers>=2.4.0",
    "sortedcontainers-stubs>=2.4.3",
]
